Repository samuelguenerie/Papyrus: changes, and which lint-staged commands are due for each by the changed paths.
All: npx stylelint --fix --ignore-path .gitignore, npx eslint --fix --ignore-path .gitignore, npx prettier --ignore-unknown --write

feat: update logo
  src/assets/logo.svg
Due: npx prettier --ignore-unknown --write

feat: install supabase
  .env
  package-lock.json
  package.json
Due: npx prettier --ignore-unknown --write

feat: delete example files from the project installation
  README.md
  cypress/e2e/example.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  index.html
  src/App.vue
  src/assets/base.css
  src/assets/main.css
  src/components/HelloWorld.vue
  src/components/TheWelcome.vue
  src/components/WelcomeItem.vue
  src/components/__tests__/HelloWorld.spec.ts
  src/components/icons/IconCommunity.vue
  src/components/icons/IconDocumentation.vue
  src/components/icons/IconEcosystem.vue
  src/components/icons/IconSupport.vue
  src/components/icons/IconTooling.vue
  src/main.ts
  src/router/index.ts
  src/stores/counter.ts
  src/views/AboutView.vue
  src/views/HomeView.vue
Due: npx stylelint --fix --ignore-path .gitignore, npx eslint --fix --ignore-path .gitignore, npx prettier --ignore-unknown --write

feat: install sass
  package-lock.json
  package.json
Due: npx prettier --ignore-unknown --write

feat: update eslint extends
  .eslintrc.json
Due: npx prettier --ignore-unknown --write

feat: update favicon
  public/favicon.ico
Due: npx prettier --ignore-unknown --write

feat: install vue-i18n
  package-lock.json
  package.json
Due: npx prettier --ignore-unknown --write

feat: install @intlify/unplugin-vue-i18n
  .env
  package-lock.json
  package.json
  src/App.vue
  src/components/BrandLogo.vue
  src/locales/en-US.json
  src/locales/fr-FR.json
  src/main.ts
  src/views/HomeView.vue
  vite.config.ts
Due: npx eslint --fix --ignore-path .gitignore, npx prettier --ignore-unknown --write

docs: add license
  LICENSE
Due: npx prettier --ignore-unknown --write

Path conditions:
  npx stylelint --fix --ignore-path .gitignore: any of: **/*.{css,scss,sass}
  npx eslint --fix --ignore-path .gitignore: any of: **/*.{vue,js,jsx,cjs,mjs,.s,tsx,cts,mts}
  npx prettier --ignore-unknown --write: any of: **/*
